@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #0D6EFD;
    --primary-dark-color: #3945BA;
    --secondary-color: #FFC107;
    --secondary-dark-color: #F2B705;
    --gray-color: rgb(229, 229, 229);
    font-size: 15px;
}

* {
    font-family: 'Signika', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    color: var(--primary-dark-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-dark-color);
    border-radius: 100px;
}

body {
    background-image: url("https://solicode.co/images/slides/slide1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-filter: blur(80%);
    filter: blur(80%);
    padding: 2rem;
}

main {
    background-color: #FFFFFF;
    border-radius: 2rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 70%;
    -webkit-filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.4));
}

#pic {
    width: 60%;
    background-image: url("https://www.fm5.ma/sites/default/files/2021-09/solicode-gal5_0.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#pic:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(287.12deg, rgba(13, 110, 253, 0.55) 54.55%, rgba(137, 152, 127, 0) 65.53%, rgba(255, 193, 7, 0.55) 82.36%);
    background: linear-gradient(162.88deg, rgba(13, 110, 253, 0.55) 54.55%, rgba(137, 152, 127, 0) 65.53%, rgba(255, 193, 7, 0.55) 82.36%);
    mix-blend-mode: color;
}

#formSide {
    width: -webkit-fill-available;
    padding: 2rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
}

#logo {
    width: 30%;
}

#logo img {
    width: 100%;
}

p {
    color: black;
}

p:last-of-type {
    color: var(--primary-dark-color);
    font-size: 0.9rem;
}

#formSide form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
}

#name-lastName {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 2rem;
}

#name-lastName .input {
    width: 50%;
}

input:focus-within + .floating-label,
input:not([value=""]) + .floating-label {
    top: -30%;
    bottom: 10px;
    left: 20px;
    scale: 0.8;
    opacity: 1;
    background-color: #FFFFFF;
}

input:focus-within {
    border: 1px solid var(--primary-color);
    border-radius: 0.2rem;
    line-height: 2.3rem;
}

input:focus + .floating-label {
    color: var(--primary-color);
}

fieldset {
    outline: none;
    border-radius: 0.3rem;
    border: 1px solid rgb(118, 118, 118);
    padding: 1% 1% 2% 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

legend {
    color: var(--primary-dark-color);
    margin-left: 0.5rem;
    padding: 0.2rem;
}

.floating-label {
    position: absolute;
    pointer-events: none;
    opacity: 50%;
    left: 20px;
    top: 0.7rem;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 0.2rem;
}

[type="text"] {
    font-size: 14px;
    width: 100%;
    line-height: 2.4rem;
    padding-left: 1rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(118, 118, 118);
}

.input-group {
    position: relative;
}

.input-group:has([type="radio"]) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(118, 118, 118);
}

.input-group:has([type="radio"]) label {
    font-weight: 300;
}

input[type="radio"] {
    width: 1rem;
    height: 1rem;
    accent-color: var(--primary-color);
}

fieldset:has(.input-group:nth-child(5)) .input-group {
    width: 29%;
}

select {
    width: 100%;
    border: none;
    background-color: var(--gray-color);
    border-radius: 0.3rem;
    overflow-y: scroll;
    height: calc(1rem * 6.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


option {
    line-height: 2rem !important;
    font-size: 1.2rem;
    background-color: #f3f3f3;
    padding: 0.3rem 1rem;
}

option:not(:last-child) {
    border-bottom: 1px solid rgb(118, 118, 118);
}

option:checked {
    background-color: var(--primary-color) !important;
    color: #FFFFFF !important;
}

[type="submit"] {
    padding: 1%;
    border: none;
    outline: none;
    background-color: var(--primary-dark-color);
    color: #FFFFFF;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: all ease-in-out 500ms;
}

[type="submit"]:hover {
    scale: 1.02;
    background-color: var(--secondary-dark-color);
    color: var(--primary-color);
}

.notValide {
    border-color: red !important;
}

.valide {
    border-color: green !important;
}

.errorMsg {
    color: red !important;
    font-size: 0.8rem !important;
    display: none;
}

.show {
    display: block;
}

[disabled] {
    background-color: var(--gray-color) !important;
    color: #FFFFFF !important;
    cursor: default;
}

[disabled]:hover {
    scale: 1;
}

/*///////////////////////////////////////////////////////////////////////////////////*/

main:has(#thank-you) {
    flex-direction: column;
    -ms-flex-direction: column;
    padding: 5rem;
    align-items: center;
    gap: 2rem;
}

main:has(#thank-you) #logo {
    width: 15rem;
}

#thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#thanks p {
    font-size: 2rem;
}

#thank-you {
    font-size: 8rem !important;
    text-align: center;
}

main:has(#thank-you) a {
    padding: 0.5rem 2rem;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border-radius: 90rem;
    font-size: 1.5rem;
    transition: all ease-in-out 500ms;
}

main:has(#thank-you) a:hover {
    scale: 1.05;
    background-color: var(--secondary-dark-color);
    color: var(--primary-color);
}

:root {
    --switch-size: 50px;
}

.switch-input {
    display: none;
}

.switch {
    --switch-width: 3rem;
    --switch-height: calc(var(--switch-width) / 2);
    --switch-border: calc(var(--switch-height) / 10);
    --switch-thumb-size: calc(var(--switch-height) - var(--switch-border) * 2);
    --switch-width-inside: calc(var(--switch-width) - var(--switch-border) * 2);
    display: block;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    border: var(--switch-border) solid var(--secondary-dark-color);
    border-radius: var(--switch-height);
    background-color: var(--secondary-dark-color);
    cursor: pointer;
    transition: 300ms 100ms;
    position: relative;
}

.switch::before {
    content: '';
    background-color: #FFFFFF;
    height: var(--switch-thumb-size);
    width: var(--switch-thumb-size);
    border-radius: var(--switch-thumb-size);
    position: absolute;
    top: 0;
    left: 0;
    transition: 300ms, width 600ms;
}

.switch-input:checked + .switch {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.switch:active::before {
    width: 80%;
}

.switch-input:checked + .switch::before {
    left: 100%;
    transform: translateX(-100%);
}

#switcher {
    position: absolute;
    top: 2rem;
    right: 3rem;
}

/*//////////////////////////////////////////////////////////*/
@media only screen and (max-width: 1255px) {
    main {
        width: 95%;
    }
}

@media only screen and (max-width: 980px) {
    main {
        width: 100%;
    }

    :root {
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    main {
        width: 100%;
    }

    :root {
        font-size: 13px;
    }

    #pic {
        width: 30%;
    }
}

@media only screen and (max-width: 650px) {
    main {
        flex-direction: column;
    }

    #pic {
        width: 100%;
        height: 20rem;
    }

    select {
        height: max-content;
    }

    fieldset {
        gap: 1rem;
    }

    fieldset .input-group {
        width: 45% !important;
    }

    #thank-you {
        font-size: 6rem !important;
    }

}

@media only screen and (max-width: 500px) {
    #pic {
        height: 15rem;
    }

    #logo {
        width: 50%;
    }

    main {
        border-radius: 2rem !important;
    }

    #thank-you {
        font-size: 5rem !important;
    }

    #thanks p {
        font-size: 1.5rem;
    }

    main:has(#thank-you) {
        padding: 2rem;
    }
}

@media only screen and (max-width: 400px) {
    #pic {
        height: 10rem;
    }

    #name-lastName {
        flex-direction: column;
        gap: 1rem;
    }

    #name-lastName .input {
        width: 100%;
    }

    fieldset .input-group {
        width: 90% !important;
    }

}
